{% extends 'base.html.twig' %}

{% block title %}Question{% endblock %}

{% block body %}
    <h1>Question</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td colspan="2">{{ question.id }}</td>
            </tr>
            <tr>
                <th>Libellé</th>
                <td colspan="2">{{ question.libelle }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ question.image }}</td>
                <td><img src="{{ asset('uploads/images/' ~ question.image) }}"></td>
            </tr>
            <tr>
                <th>Image Vich</th>
                <td>{{ question.imageName }}</td>
                <td><img src="{{ vich_uploader_asset(question) }}"></td>

            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between">
        <a href="{{ path('app_question_edit', {'id': question.id}) }}" class="btn btn-success">Modifier</a>
        <a href="{{ path('app_question_index') }}" class="btn btn-primary">Retour à la liste</a>
    </div>

    {{ include('question/_delete_form.html.twig') }}
{% endblock %}
